<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @client.skills %>
</p>

<p>
  <strong>Days Left:</strong>
  <%= @client.days_left %>
</p>

<p>
  <strong>External ID:</strong>
  <%= @client.external_id %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
